body {
    box-sizing: border-box;
}

section {
    display: flex;
}

ul {
    list-style: none;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
}

li {
    padding: 10px;
    display: flex;
    align-items: center;
    border: 5px solid black;
    box-shadow: 0 0 0.5em 0;
}